<ion-view>
    <ion-nav-title>
        <a href="#/app/main"><img src="img/logo.svg"></a>
    </ion-nav-title>
    <ion-content class="contacts">
        <div class="bg-wrap">
            <img src="img/bg-contacts.jpg">
            <tab-slide-box tab="0">
                <div class="tsb-icons">
                    <div class="tsb-ic-wrp">
                        <ion-scroll direction="x" class="tsb-hscroll">
                            <!--<a href="javascript:;">Central office</a>
                            <a href="javascript:;">Palestine</a>
                            <a href="javascript:;">Kuwait</a>
                            <a href="javascript:;">Yemen</a>
                            <a href="javascript:;">Iran</a>
                            <a href="javascript:;">Jordan</a>
                            <a href="javascript:;">Iraq</a>
                            <a href="javascript:;">Kuwait</a>
                            <a href="javascript:;">China</a>
                            <a href="javascript:;">Macau</a>
                            <a href="javascript:;">Vietnam</a>
                            <a href="javascript:;">Japan</a>-->
                            <a href="javascript:;">China</a>
                            <a href="javascript:;">South Korea</a>
                            <a href="javascript:;">Macau</a>
                            <a href="javascript:;">Vietnam</a>
                            <a href="javascript:;">Japan</a>
                            <a href="javascript:;">Taiwan</a>
                            <a href="javascript:;">New Zeland</a>
                            <a href="javascript:;">Australia</a>
                            <a href="javascript:;">Algeria</a>
                            <a href="javascript:;">Libya</a>
                            <a href="javascript:;">Tunisia</a>
                            <a href="javascript:;">Egypt</a>
                            <a href="javascript:;">Afganistan</a>
                            <a href="javascript:;">Iraq</a>
                            <a href="javascript:;">Jordan</a>
                            <a href="javascript:;">Palestine</a>
                            <a href="javascript:;">Kuwait</a>
                            <a href="javascript:;">Yemen</a>
                            <a href="javascript:;">Lebanon</a>
                            <a href="javascript:;">Iran</a>
                        </ion-scroll>
                    </div>
                    <hr>
                </div>
                <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                    <ion-slide class="China">
                        <div class="list-borderless padding">
                            <div class="item"><p>ROSHEN (SHANGHAI) FOODSTUFF CORPORATION</p></div>
                            <!--<div class="item item-icon-left address">
                                <img src="img/ic_marker_white_36dp.svg">
                                <p>China, 200336 Shanghai, Loushanguan Road, 85, office A1718</p>
                            </div>-->
                            <a class="item item-icon-left phone" href="tel:+861561606082" browse-to="tel:+861561606082">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+86-156-160-6082</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:roshen.shanghai@outlook.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>roshen.shanghai@outlook.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="South Korea">
                        <div class="list-borderless padding">
                            <div class="item"><p>SHOKOLAD INC</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+82-10-8989-6392</p>
                            </a>
                            <a class="item item-icon-left email">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>shokolad@hotmail.co.kr</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Macau">
                        <div class="list-borderless padding">
                            <div class="item"><p>Carnes Congelados Yau Heng Limitada</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+85363003212</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:sunnyliuhoichi@hotmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>sunnyliuhoichi@hotmail.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Vietnam">
                        <div class="list-borderless padding">
                            <div class="item"><p>Nier Fine Wines Vietnam Company, Ltd</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+84 4 397 44 991</p>
                            </a>
                            <div class="item"><p>MAYA INVESTMENT</p></div>
                            <a class="item item-icon-left phone" href="tel:+84947030001" browse-to="tel:+84947030001">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+84947030001</p>
                            </a>
                            <a class="item item-icon-left phone" href="tel:+84989775540" browse-to="tel:+84989775540">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+84989775540</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:thuy.mai@me.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>thuy.mai@me.com</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:maitt.fo@gmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>maitt.fo@gmail.com</p>
                            </a>
                            <div class="item"><p>Bao Quang Producing and Trading Co. Ltd</p></div>
                            <a class="item item-icon-left phone" href="tel:+84903407869" browse-to="tel:+84903407869">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+84903407869</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:baoquang-co@viettel.vn">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>baoquang-co@viettel.vn</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:binhquang12tm@yahoo.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>binhquang12tm@yahoo.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Japan">
                        <div class="list-borderless padding">
                            <div class="item"><p>LEOPOLICE JAPON K.K.</p></div>
                            <!--<div class="item item-icon-left address">
                                <img src="img/ic_marker_white_36dp.svg">
                                <p>Park Tower N30F Shinjuku Tokyo 163-1030</p>
                            </div>-->
                            <a class="item item-icon-left phone" href="tel:+81353263164" browse-to="tel:+81353263164">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+81-3-5326-3164</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:nemoto@leopolice.co.jp">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>nemoto@leopolice.co.jp</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Taiwan">
                        <div class="list-borderless padding">
                            <div class="item"><p>Diva Life</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>Tel: 886-2-2662-2522</p>
                            </a>
                            <a class="item item-icon-left phone fax">
                                <img src="img/ic_fax_cream_36dp.svg">
                                <p>Fax: 886-2-2664-6830</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="New Zeland">
                        <div class="list-borderless padding">
                            <div class="item"><p>Slavic Treasures Ltd</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>P: (09) 269 6424</p>
                            </a>
                            <a class="item item-icon-left phone fax">
                                <img src="img/ic_fax_cream_36dp.svg">
                                <p>F: (09) 269 6423</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Australia">
                        <div class="list-borderless padding">
                            <div class="item"><p>Kashtan Pty Ltd</p></div>
                            <a class="item item-icon-left email" href="mailto:alexander_landa@yahoo.com.au">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>alexander_landa@yahoo.com.au</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Algeria">
                        <div class="list-borderless padding">
                            <div class="item"><p>EURL SAM ALIMENT IMPORT-EXPORT</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+213550473011</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:sam-aliment@hotmail.fr">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>sam-aliment@hotmail.fr</p>
                            </a>
                            <div class="item"><p>Sarl Lina Food</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+213550155808</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:sarlinafood@yahoo.fr">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>sarlinafood@yahoo.fr</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Libya">
                        <div class="list-borderless padding">
                            <div class="item"><p>ALWATEQON AL GADIDA</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+00218913701743</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Tunisia">
                        <div class="list-borderless padding">
                            <div class="item"><p>STE AGRO FOOD INTERNATIONAL</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+00 20 052 777</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Egypt">
                        <div class="list-borderless padding">
                            <div class="item"><p>SS Catering</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+201064650048</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Afganistan">
                        <div class="list-borderless padding">
                            <div class="item"><p>Khwaga Dunya</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>Afg +93 783  100100</p>
                            </a>
                            <a class="item item-icon-left phone fax">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>Pak +92 3005824778</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Iraq">
                        <div class="list-borderless padding">
                            <div class="item"><p>Masaka&Co</p></div>
                            <a class="item item-icon-left phone" href="tel:00905078542222" browse-to="tel:00905078542222">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>00 905 078 542 222</p>
                            </a>
                            <a class="item item-icon-left phone" href="tel:009647702820002" browse-to="tel:009647702820002">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>00 964 770 282 0002</p>
                            </a>
                            <a class="item item-icon-left phone" href="tel:009647504031604" browse-to="tel:009647504031604">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>00 964 750 403 1604</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:qadry86@hotmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>qadry86@hotmail.com</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:maseka_co@hotmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>maseka_co@hotmail.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Jordan">
                        <div class="list-borderless padding">
                            <div class="item"><p>Afra Company For Ukrainian Products / Mohammad Mousa Amro&Partners Co.-</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+96279 563 45 09</p>
                            </a>
                            <a class="item item-icon-left phone fax">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>Fax: +96279 974 76 09</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:meamro@hotmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>meamro@hotmail.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Palestine">
                        <div class="list-borderless padding">
                            <div class="item"><p>International Trade for Marketing / Ja’far Co. For Trading & Marketing</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>Tel : +9722247007</p>
                            </a>
                            <a class="item item-icon-left phone fax">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>Fax :+9722247006</p>
                            </a>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+972599675540</p>
                            </a>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+97242434424</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:balhourani@gmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>balhourani@gmail.com</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:itmcompany2013@gmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>itmcompany2013@gmail.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Kuwait">
                        <div class="list-borderless padding">
                            <div class="item"><p>Naser Mohd al Sayer Foodstuff Company</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+965-24737399</p>
                            </a>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+965-24737399 (Ext. 511)</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:m.veloso@alsayergrp.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>m.veloso@alsayergrp.com</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:a.alhajar@alsayergrp.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>a.alhajar@alsayergrp.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Yemen">
                        <div class="list-borderless padding">
                            <div class="item"><p>«SAMAA-ALRABEEA FOR TRADING AND AGENCIES»</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+967 735325062</p>
                            </a>
                            <a class="item item-icon-left phone fax">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>fax: +967 1 444873</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:sales@samaa-alrabeea.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>sales@samaa-alrabeea.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Lebanon">
                        <div class="list-borderless padding">
                            <div class="item"><p>Sea Sweet</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+961 5 45 08 38</p>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide class="Iran">
                        <div class="list-borderless padding">
                            <div class="item"><p>Shafagh Gostar Yazd Trading Company</p></div>
                            <a class="item item-icon-left phone">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+989123974060</p>
                            </a>
                            <a class="item item-icon-left email" href="mailto:shafagh.yazd@hotmail.com">
                                <img src="img/ic_email_cream_36dp.svg">
                                <p>shafagh.yazd@hotmail.com</p>
                            </a>
                        </div>
                    </ion-slide>
                    <!--<ion-slide>
                        <div class="list-borderless padding">
                            <div class="item"><p>ДП "Кондитерская корпорация "Рошен"</p></div>
                                <div class="item item-icon-left address">
                                    <img src="img/ic_marker_white_36dp.svg">
                                    <p>04176, г.Киев, ул.Электриков, 26/9</p>
                                </div>
                            <a class="item item-icon-left phone" href="tel:+380443517100" browse-to="tel:+380443517100">
                                <img src="img/ic_phone_cream_36dp.svg">
                                <p>+38 (044) 351-71-00</p>
                            </a>
                        </div>
                    </ion-slide>-->
                </ion-slide-box>
            </tab-slide-box>
        </div>
    </ion-content>
    <!--<ion-content class="contacts list-borderless">
        <div class="bg-wrap padding-horizontal">
            <img src="img/bg-contacts.jpg">
            <div class="item item-icon-left address">
                <img src="img/ic_marker_white_36dp.svg">
                <p>UAB ROSHEN NORD<br>Silutes pl.79,<br>94101 Klaipeda<br>Lithuania</p>
            </div>
        </div>
        <div class="wrap padding">
            <a href="tel:+37046420049" class="item item-icon-left phone">
                <img src="img/ic_phone_cream_36dp.svg">
                <p>+370 46 420049</p>
            </a>
            <a href="mailto:info@roshen-nord.it" class="item item-icon-left email">
                <img src="img/ic_email_cream_36dp.svg">
                <p>info@roshen-nord.it</p>
            </a>
        </div>
    </ion-content>-->
</ion-view>
